APP_PORT=8000
APP_ENV=local

BLUEANT_BASE_URL=https://dashboard-examples.blueant.cloud/rest
BLUEANT_TOKEN=dein_api_key

GEMINI_API_KEY=hier_gemini_api_key_eintragen
GEMINI_MODEL=gemini-2.5-flash
AI_TEMPERATURE=0
AI_TIMEOUT_SECONDS=120


AI_ENABLED=true
AI_PROVIDER=gemini
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta



